.test{
  float: left;
  width: 350px;
}

.title{
  text-align: center;
}

body{
  background-color:lightpink;
}

h1{
font-family: fantasy;
}

p{
  font-family: sans-serif;
}

.pet{
  border: 4px solid teal;
  padding: 10px;
  background-color: aqua;
}